<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>Let us be the catalyst for your change</h1>
      <%= link_to 'Get Started!' , class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>
<div class="container">
  <div class="container-inner">
<p> product description</p1>
<p> text text text text text text text text text text text texttext text text text　text text text text　text text text text　text text text text　text text text text </p>
  </div>
</div>