<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>let us be the catalyst for your changes</h1>
      
      <%= link_to 'get started', login_path, class: "btn-lg"  %>
    </div>
  </div>
</div>
<div class="container">
  <div class="container-inner">
<p> product description</p1>
<p> text text text text text text text text text text text texttext text text text　text text text text　text text text text　text text text text　text text text text </p>
  </div>
</div>