<% content_for :head  do %>
 <title><%= @user.name %> profile</title>
 <meta name="description" content="<%= @user.name %>'s profile page">
<% end %>
<div class="user-profile">
  <div class="name">
    <h1><%= @user.name %><h1>
  </div>
  </div>